<div class="container-fluid">
      <h1 class="page-header">Dashboard</h1>
      <div class="row">
        <div class="col-sm-4 col-md-4 main">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Persönliche Daten</h3>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> Paul Florian Pröll</li>
    <li class="list-group-item"><strong>Benutzername:</strong> proepau</li>
    <li class="list-group-item"><strong>Geburtsdatum:</strong> 29.05.1993</li>
    <li class="list-group-item"><strong>Angestellt seit:</strong> 05.03.2014</li>
  </ul>
</div>
</div>
        <div class="col-sm-4 col-md-4 main">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Ausgesendete Nachrichten</h3>
              </div>
              <div class="panel-body">
                <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong><br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong><br>Porta ac consectetur ac</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong><br>Vestibulum at eros</li>
  </ul>
              </div>
            </div>
        </div>
<div class="col-sm-4 col-md-4 main">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Deine Logs</h3>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
    <li class="list-group-item"><strong>30.04.2017 10:55:</strong> Klient hinzugefügt</li>
  </ul>
</div>
</div>

      </div>
    </div>