<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9 main">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title"><a routerLink="/dokumente">Dokumente</a> &raquo; <a routerLink="/dokumente/aktuelles-arbeitsjahr">Aktuelles Arbeitsjahr</a></h3>
  </div>

    <table class="table table-striped">
        <thead>
      <tr>
        <th class="col-md-1" style="width:1%"></th>
        <th class="col-md-3">Bezeichnung</th>
        <th class="col-md-8">Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Verlaufsdokumentationen</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Jahreszielplanungen</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Jahreszielevaluationen</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Statusberichte</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Unfallberichte</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Ist-Zustände</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Fallverlaufsbesprechungen</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
    </tbody>
  </table>

    <!--<div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
    </div>//-->

</div>
        </div>
        <div class="col-sm-3 col-md-3 main">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-bell"></span> Erinnerungen</h3>
              </div>
              <div class="panel-body">
                <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>Diese Woche:</strong> Eintrag in Verlaufsdokumentation von Michael Bruckner.</li>
   <li class="list-group-item"><strong>Diese Woche:</strong> Eintrag in Verlaufsdokumentation von Michael Bruckner.</li>
   <li class="list-group-item"><strong>Diese Woche:</strong> Eintrag in Verlaufsdokumentation von Michael Bruckner.</li>
   <li class="list-group-item"><strong>Diese Woche:</strong> Eintrag in Verlaufsdokumentation von Michael Bruckner.</li>
   <li class="list-group-item"><strong>Bis 21.08.2017:</strong> Jahreszielplanung von Max Mustermann erstellen.</li>
  </ul>
              </div>
            </div>
        </div>


      </div>
    </div>