<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9 main">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title"> Einstellungen</h3>
  </div>

    <table class="table table-striped">
        <thead>
      <tr>
        <th class="col-md-1" style="width:1%"></th>
        <th class="col-md-3">Bezeichnung</th>
        <th class="col-md-8">Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="glyphicon glyphicon-folder-open"></span></td>
        <td>Mein Profil</td>
        <td>Hier befinden sich alle bearbeitbaren Dokumente für das aktuelle Arbeitsjahr.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-download-alt"></span></td>
        <td>Downloads</td>
        <td>Hier befinden sich alle vom Büro bereitgestellten Dokumente.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-book"></span></td>
        <td>Archiv</td>
        <td>Hier befinden sich alle Dokumente vergangener Arbeitsjahre.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-trash"></span></td>
        <td>Papierkorb</td>
        <td>Hier befinden sich alle gelöschten Dokumente.</td>
      </tr>
    </tbody>
  </table>

    <!--<div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="ds-folder">
            <a href="#">
        <span class="glyphicon glyphicon-download-alt"></span>
        Downloads
            </a>
          </div>
        </div>
    </div>//-->

</div>
        </div>
        <div class="col-sm-3 col-md-3 main">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> Help-Desk</h3>
              </div>
              <div class="panel-body">
                <!-- List group -->
                  Bewege die Maus über ein Verzeichnis und erfahre mehr über den Dokumenten-Typ.
              </div>
            </div>
        </div>


      </div>
    </div>