<!--The whole content below can be removed with the new code.-->
<!--<navigation-component></navigation-component>

<router-outlet></router-outlet>//-->
<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">docsys</h2>
        <label for="inputEmail" class="sr-only">Benutzername</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Benutzername" required autofocus>
        <label for="inputPassword" class="sr-only">Passwort</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
        <button class="btn btn-lg btn-block" type="submit" (click)="onLoginClick()">Anmelden</button>
      </form>

    </div> <!-- /container -->

